.heading{
font-weight: bold;
font-size: 27px;
}
.container{
     width: 340px;
     box-shadow: 4px 3px 0 #ccc;
     padding: 5px 4px;
     border-radius: 9px;
}
.flex{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.listItems{
     padding-left: 3px;
     line-height: 2px;
     color: rgb(130, 120, 120);
}